@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --simple-dark: #322214;
  --simple-light: #F6F8FF;
  --beige: #F5DBCB;
  --light-grey: #CACFD6;
  --off-grey: #CACFD6;
  --dark-green: #517664;
  --light-cyan: #9FD8CB;
  --deep-blue: #0A2540;
}

body {
  background: var(--deep-blue);
  font-family: Arial, Helvetica, sans-serif;
}

.dark-green-filter {
  filter: sepia(1) saturate(1) hue-rotate(90deg);
}
